<div class="modal fade" id="editCertificateModal" tabindex="-1"
	role="dialog" aria-labelledby="editCertificateModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" (click)="onCancelAction()" class="close"
					data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="editCertificateModalLabel">
					{{'registrations.certificate.add-certificate-title' | translate}} /
					{{'registrations.certificate.average-mark' | translate: {"averageMark" : averageMark | number:'.3'} }}</h4>
			</div>
			<div class="modal-body">
				<div *ngIf="editableCertificate" class="row">
					<div class="col-md-5">
						<div class="form-group" [appFieldHasError]="'eiName'">
							<label>{{'registrations.certificate.institution' |
								translate}}</label> <input auto-complete type="text"
								[(ngModel)]="selectedInstitutionValue"
								[source]="getBaseInstitutions"
								[list-formatter]="formatInstitution"
								[value-formatter]="formatInstitution" [select-on-blur]="true"
								[no-match-found-text]="'common.auto-complete.no-results' | translate"
								(valueChanged)="selectInstitution($event)"
								(customSelected)="newInstitution($event)" required name="eiName"
								#eiName="ngModel" class="form-control" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" [appFieldHasError]="'eiCountry'">
							<label>{{'registrations.crud.country' | translate}}</label> <select
								required *ngIf="countryList" [(ngModel)]="selectedCountry"
								name="eiCountry" #eiCountry="ngModel" class="form-control">
								<option *ngFor="let countryCode of countryList"
									[ngValue]="countryCode">{{'country.' + countryCode | translate}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group" [appFieldHasError]="'cYear'">
							<label>{{'registrations.certificate.year' | translate}}</label> <input
								required [(ngModel)]="editableCertificate.year" name="cYear"
								#cYear="ngModel" value={{editableCertificate.year}} type="text"
								class="form-control" />
						</div>
					</div>
					<div class="col-md-12">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#baseSubjects">{{'registrations.certificate.base-subjects'
									| translate}}</a></li>
							<li><a data-toggle="tab" href="#extraSubjects">{{'registrations.certificate.extra-subjects'
									| translate}}</a></li>
						</ul>

						<div class="tab-content">
							<div id="baseSubjects" class="tab-pane fade in active">
								<div *ngIf="editableCertificate.marks"
									class="list-group pre-scrollable">
									<div *ngFor="let subjectMark of editableCertificate.marks"
										class="list-group-item">
										<div class="row">
											<div class="col-lg-10 col-md-10 col-xs-10">
												<h4>{{subjectMark.subject.title}}</h4>
											</div>
											<div class="col-lg-2 col-md-2 col-xs-2">
												<input *ngIf="subjectMark.subject"
													[name]="'subject.' + subjectMark.subject.id"
													[(ngModel)]="subjectMark.mark" value={{subjectMark.mark}}
													(change)="calculateAverageMark()"
													type="text" class="form-control"
													[textMask]="{mask: subjectMarkMask, placeholderChar: ' '}" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="extraSubjects" class="tab-pane fade in">
								<div class="col-lg-12 col-md-12 col-xs-12">
									<br />
								</div>
								<div *ngIf="editableCertificate.extraMarks" class="list-group">
									<div
										*ngFor="let subjectMark of editableCertificate.extraMarks; let i = index"
										class="list-group-item">
										<div class="row">
											<div class="col-lg-8 col-md-7 col-xs-4">
												<h4>{{subjectMark.subject.title}}</h4>
											</div>
											<div class="col-lg-2 col-md-2 col-xs-4">
												<input [name]="'subject.' + (subjectMark.subject.id ? subjectMark.subject.id : -i)"
													[(ngModel)]="subjectMark.mark" value={{subjectMark.mark}}
													(change)="calculateAverageMark()"
													type="text" class="form-control"
													[textMask]="{mask: subjectMarkMask, placeholderChar: ' '}" />
											</div>
											<div class="col-lg-2 col-md-3 col-xs-4">
												<button type="button" data-toggle="modal"
													data-backdrop="static" class="btn btn-danger"
													aria-label="Left Align"
													(click)="removeExtraSubject(subjectMark)"
													title="{{'common.delete' | translate}}">
													<span class="glyphicon  glyphicon-remove"
														aria-hidden="true"></span>
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-xs-12">
									<div class="col-lg-9 col-md-9 col-xs-9">
										<input auto-complete type="text" [(ngModel)]="extraSubject"
											[source]="extraSubjectList" [value-formatter]="'title'"
											[list-formatter]="'title'" [select-on-blur]="true"
											[no-match-found-text]="'common.auto-complete.no-results' | translate"
											(customSelected)="newSubject($event)"
											name="extraSubjectField" #extraSubjectField="ngModel"
											class="form-control" />
									</div>
									<div class="col-lg-3 col-md-3 col-xs-3">
										<button type="button"
											[disabled]="isAddSubjectButtonDisabled()"
											(click)="addExtraSubject()" class="btn btn-success"
											aria-label="Left Align">
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
											{{'common.add-new' | translate}}
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					(click)="onSaveAction()">{{'common.save' | translate}}</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal"
					(click)="onCancelAction()">{{'common.cancel' | translate}}</button>
			</div>
		</div>
	</div>
</div>