<div class="row">
	<div class="col-lg-12 col-md-12 col-xs-12">
		<button type="button" (click)="navigateBackToList()" class="btn btn-success" aria-label="Left Align">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			{{'common.back' | translate}}
		</button>
	</div>
	<hr/>
	<form *ngIf="userAccount" (ngSubmit)="f.form.valid && updateUserAccount()" #f="ngForm">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-xs-6">
				<div class="col-md-8">
					<div class="form-group">
						<label>{{'administration.user-accounts.crud.username' | translate}}</label>
						<input disabled [(ngModel)]="userAccount.username" name="username" #username="ngModel"
							value={{userAccount.username}} type="text" class="form-control"/>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label>{{'administration.user-accounts.crud.email' | translate}}</label>
						<div class="input-group">
							<span class="input-group-addon" id="sizing-addon2">@</span>
							<input disabled [(ngModel)]="userAccount.email" name="email" #email="ngModel"
								value="{{userAccount.email}}" type="text" class="form-control" />
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group" [ngClass]="{'has-error': f.submitted && !firstName.valid}">
						<label>{{'administration.user-accounts.crud.first-name' | translate}}</label>
						<input [(ngModel)]="userAccount.firstName" name="firstName" #firstName="ngModel" required
							value="{{userAccount.firstName}}" type="text" class="form-control" />
					</div>
				</div> 
				<div class="col-md-8">
					<div class="form-group" [ngClass]="{'has-error': f.submitted && !lastName.valid}">
						<label>{{'administration.user-accounts.crud.last-name' | translate}}</label>
						<input [(ngModel)]="userAccount.lastName" name="lastName" #lastName="ngModel" required
							 value="{{userAccount.lastName}}" type="text" class="form-control" />
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
						<label>{{'administration.user-accounts.crud.password' | translate}}</label>
						<input [(ngModel)]="userAccount.password" name="password" #password="ngModel" required
							value="{{userAccount.password}}" type="password" class="form-control" />
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group" [ngClass]="{'has-error': f.submitted && !repeatedPassword.valid}">
						<label>{{'administration.user-accounts.crud.repeated-password' | translate}}</label>
						<input [(ngModel)]="userAccount.repeatedPassword" name="repeatedPassword" #repeatedPassword="ngModel" required
							value="{{userAccount.repeatedPassword}}" type="password" class="form-control" />
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group" [ngClass]="{'has-error': f.submitted && !birthdate.valid}">
						<label>{{'administration.user-accounts.crud.birthdate' | translate}}</label>
						<div class="input-group">
						  	<datetime [(ngModel)]="userAccount.birthdate" name="birthdate" #birthdate="ngModel"
						  		[timepicker]="false" [datepicker]="{autoclose: 'true', language: 'ru', placeholder: ' '}" required ></datetime>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-6">
				<div class="col-md-8">
					<div class="form-group">
						<label>{{'administration.user-accounts.crud.roles' | translate}}</label>
						<div class="pre-scrollable">
							<div *ngFor="let module of roles.keys()" class="list-group">
								<div class="list-group-item disabled">{{'roles.module.'.concat(module) | translate}}</div>
								<div *ngFor="let roleHolder of roles.get(module)" class="list-group-item">
							      	<div class="checkbox">
							  			<label>
							  				<input type="checkbox" name="{{roleHolder.role}}" value="{{roleHolder.enabled}}" [(ngModel)]="roleHolder.enabled" [disabled]="roleHolder.editable">
							  				{{'roles.action.'.concat(roleHolder.role) | translate }}
							  			</label>
									</div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr/>
		<div class="form-group col-md-12">
        	<button type="submit" [disabled]="loading"  class="btn btn-primary">{{'common.save' | translate}}</button>
			<app-loading *ngIf="loading" [loading]="loading"></app-loading>
      	</div>
	</form>
</div>