<div class="row">
	<div class="col-lg-12 col-md-12 col-xs-12">
		<button type="button" (click)="navigateBackToList()" class="btn btn-success" aria-label="Left Align">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			{{'common.back' | translate}}
		</button>
	</div>
	<hr/>
	<div *ngIf="registration" class="col-lg-12 col-md-12 col-xs-12">
		<app-registration-info-panel [registration]="registration"></app-registration-info-panel>
		<div class="row">
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="#enrolleeTab">
						{{'common.enrollee' | translate}}
					</a>
				</li>
				<li *ngIf="registration.fundsSource === 'P'">
					<a data-toggle="tab" href="#payerTab">
						{{'common.payer' | translate}}
					</a>
				</li>
				<li>
					<a data-toggle="tab" href="#certificateTab">
						{{'common.certificate' | translate}}
					</a>
				</li>
				<li *ngIf="registration.educationBase === '11'">
					<a data-toggle="tab" href="#examResultsTab">
						{{'common.exam-results' | translate}}
					</a>
				</li>
				<li *ngIf="registration.prerogatives && registration.prerogatives.length || registration.outOfCompetitions && registration.outOfCompetitions.length > 0">
					<a data-toggle="tab" href="#benefitsTab">
						{{'common.benefits' | translate}}
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="enrolleeTab" class="tab-pane fade in active">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12">
							<br/>
						</div>
						<app-person-info-tab [person]="registration.enrollee"></app-person-info-tab>
					</div>
				</div>
				<div *ngIf="registration.fundsSource === 'P'" id="payerTab" class="tab-pane fade in">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12">
							<br/>
						</div>
						<div *ngIf="registration.enrolleeAsPayer" class="col-lg-12 col-md-12 col-xs-12">
							<h4>{{'registrations.crud.payer.enrollee-as-payer' | translate}}</h4>
						</div>
						<app-person-info-tab [person]="registration.payer"></app-person-info-tab>
					</div>
				</div>
				<div id="certificateTab" class="tab-pane fade in">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12">
							<br/>
						</div>
						<app-certificate-info-tab [certificate]="registration.certificate"></app-certificate-info-tab>
					</div>
				</div>
				<div id="examResultsTab" class="tab-pane fade in">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12">
							<br/>
						</div>
						<app-exam-results-tab [examMarks]="registration.examSubjectMarks"></app-exam-results-tab>
					</div>
				</div>
				<div id="benefitsTab" class="tab-pane fade in">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12">
							<br/>
						</div>
						<app-benefits-tab
							[prerogatives]="registration.prerogatives"
							[outOfCompetitions]="registration.outOfCompetitions">
						</app-benefits-tab>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>