<form *ngIf="registration" (ngSubmit)="createRegistrationAccount()" #f="ngForm">
	<div class="row">
		<div class="col-lg-7 col-md-8 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">{{'registrations.crud.enrollee-info' | translate}}</div>
	  			<div class="panel-body">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{'registrations.crud.first-name' | translate}}</label>
							<input required [(ngModel)]="registration.enrollee.firstName" name="eFirstName" #eFirstName="ngModel"
								value={{registration.enrollee.firstName}} type="text" class="form-control"/>
						</div>
						<div class="form-group">
							<label>{{'registrations.crud.last-name' | translate}}</label>
							<input required [(ngModel)]="registration.enrollee.lastName" name="eLastName" #eLastName="ngModel"
								value={{registration.enrollee.lastName}} type="text" class="form-control"/>
						</div>
						<div class="form-group">
							<label>{{'registrations.crud.middle-name' | translate}}</label>
							<input required [(ngModel)]="registration.enrollee.middleName" name="eLastName" #eMiddleName="ngModel"
								value={{registration.enrollee.middleName}} type="text" class="form-control"/>
						</div>
						<div class="form-group">
							<label>{{'registrations.crud.birthdate' | translate}}</label>
							<datetime required [(ngModel)]="registration.enrollee.birthdate" name="eBirthdate" #eBirthdate="ngModel"
						  		[timepicker]="false" [datepicker]="{autoclose: 'true', language: 'ru', placeholder: ' '}" ></datetime>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">{{'registrations.crud.address-info' | translate}}</div>
	  						<div class="panel-body">
	  							<div class="form-group">
									<label>{{'registrations.crud.country' | translate}}</label>
									<select required *ngIf="countryList" [(ngModel)]="registration.enrollee.address.country" name="aCountry" #aCountry="ngModel" class="form-control">
										<option *ngFor="let countryCode of countryList" [ngValue]="countryCode">{{'country.' + countryCode | translate}}</option>
									</select>
								</div>
								<div class="form-group">
									<label>{{'registrations.crud.city' | translate}}</label>
									<input required [(ngModel)]="registration.enrollee.address.city" name="aCity" #aCity="ngModel"
										value={{registration.enrollee.address.city}} type="text" class="form-control"/>
								</div>
								<div class="form-group">
									<label>{{'registrations.crud.street' | translate}}</label>
									<input required [(ngModel)]="registration.enrollee.address.street" name="eaStreet" #eaStreet="ngModel"
										value={{registration.enrollee.address.street}} type="text" class="form-control"/>
								</div>
								<div class="col-md-4 col-md-4 col-md-12">
									<div class="form-group">
										<label>{{'registrations.crud.house' | translate}}</label>
										<input required [(ngModel)]="registration.enrollee.address.house" name="eaHouse" #eaHouse="ngModel"
											value={{registration.enrollee.address.house}} type="text" class="form-control"/>
									</div>	
								</div>
								<div class="col-md-4 col-md-4 col-md-12">
									<div class="form-group">
										<label>{{'registrations.crud.housing' | translate}}</label>
										<input required [(ngModel)]="registration.enrollee.address.housing" name="eaHousing" #eaHousing="ngModel"
											value={{registration.enrollee.address.housing}} type="text" class="form-control"/>
									</div>	
								</div>
								<div class="col-md-4 col-md-4 col-md-12">
									<div class="form-group">
										<label>{{'registrations.crud.flat' | translate}}</label>
										<input required [(ngModel)]="registration.enrollee.address.flat" name="eaFlat" #eaFlat="ngModel"
											value={{registration.enrollee.address.flat}} type="text" class="form-control"/>
									</div>	
								</div>
								<div class="form-group">
									<label>{{'registrations.crud.zip-code' | translate}}</label>
									<input required [(ngModel)]="registration.enrollee.address.zipCode" name="aZipCode" #aZipCode="ngModel"
										value={{registration.enrollee.address.zipCode}} type="text" class="form-control"/>
								</div>
	  						</div>
  						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">{{'registrations.crud.document-info' | translate}}</div>
	  						<div class="panel-body">
								<div class="form-group">
						            <label>{{'registrations.crud.document-type' | translate}}</label>
						            <select required *ngIf="documentTypeList" [(ngModel)]="registration.enrollee.document.type" name="dType" #dType="ngModel" class="form-control">
										<option *ngFor="let type of documentTypeList" [ngValue]="type">{{'registrations.document.type.' + type | translate}}</option>
									</select>
						        </div>
								<div class="form-group">
									<label>{{'registrations.crud.id' | translate}}</label>
									<input required [(ngModel)]="registration.enrollee.document.id" name="dId" #dId="ngModel"
										value={{registration.enrollee.document.id}} type="text" class="form-control"/>
								</div>
								<div class="form-group">
									<label>{{'registrations.crud.document-id' | translate}}</label>
									<input required [(ngModel)]="registration.enrollee.document.documentId" name="dDocumentId" #dDocumentId="ngModel"
										value={{registration.enrollee.document.documentId}} type="text" class="form-control"/>
								</div>
								<div class="form-group">
									<label>{{'registrations.crud.document-issue-date' | translate}}</label>
									<datetime required [(ngModel)]="registration.enrollee.document.issueDate" name="dIssueDate" #dIssueDate="ngModel"
								  		[timepicker]="false" [datepicker]="{autoclose: 'true', language: 'ru', placeholder: ' '}" ></datetime>
								</div>
								<div class="form-group">
									<label>{{'registrations.crud.document-issued-by' | translate}}</label>
									<input required [(ngModel)]="registration.enrollee.document.issuedBy" name="dIssuedBy" #dIssuedBy="ngModel"
										value={{registration.enrollee.document.issuedBy}} type="text" class="form-control"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-md-4 col-xs-12"> 
			<div class="panel panel-default">
				<div class="panel-heading">{{'registrations.crud.registration-info' | translate}}</div>
	  			<div class="panel-body">
					<div class="form-group">
						<label>{{'registrations.crud.educational-institution' | translate}}</label>
						<select required *ngIf="eInstitutionList" [disabled]="eInstitutionList.length === 1"
							[(ngModel)]="registration.educationInstitutionId" name="educationalInstitution"
							#educationalInstitution="ngModel" class="form-control">
							<option *ngFor="let institution of eInstitutionList" [ngValue]="institution.id">
								{{institution.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>{{'registrations.crud.specialty' | translate}}</label>
						<select required *ngIf=specialtyList [(ngModel)]="registration.specialtyId" name="specialty"
							#speciality="ngModel" class="form-control">
							<option *ngFor="let spec of specialtyList" [ngValue]="spec.id">{{spec.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label>{{'registrations.crud.funds-source' | translate}}</label>
						<div *ngIf="fundsSourceList">
							<label class="radio-inline">
								<input type="radio" value={{fundsSourceList[0].value}} name="fundsSource" [(ngModel)]="registration.fundsSource">
								{{'registrations.funds-source.' + fundsSourceList[0].name | translate}}
							</label>
							<label class="radio-inline">
								<input type="radio" value={{fundsSourceList[1].value}} name="fundsSource" [(ngModel)]="registration.fundsSource">
								{{'registrations.funds-source.' + fundsSourceList[1].name | translate}}
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>{{'registrations.crud.education-form' | translate}}</label>
						<div *ngIf="educationFormList">
							<label class="radio-inline">
								<input type="radio" value={{educationFormList[0].value}} name="educationForm" [(ngModel)]="registration.educationForm">
								{{'registrations.education-form.' + educationFormList[0].name | translate}}
							</label>
							<label class="radio-inline">
								<input type="radio" value={{educationFormList[1].value}} name="educationForm" [(ngModel)]="registration.educationForm">
								{{'registrations.education-form.' + educationFormList[1].name | translate}}
							</label>
						</div>
					</div>
	  			</div>
  			</div>
		</div>
		<div class="col-lg-5 col-md-4 col-xs-12"> 
			<div class="panel panel-default">
				<div class="panel-heading">{{'registrations.crud.certificate' | translate}}</div>
	  			<div class="panel-body">
	  				<div class="col-md-8">
						<div class="form-group">
							<label>{{'registrations.crud.certificate-institution' | translate}}</label>
							<input required [(ngModel)]="registration.certificate.institution" name="cInstitution" #cInstitution="ngModel"
								value={{registration.certificate.institution}} type="text" class="form-control"/>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'registrations.crud.certificate-year' | translate}}</label>
							<input required [(ngModel)]="registration.certificate.year" name="cYear" #cYear="ngModel"
								value={{registration.certificate.year}} type="text" class="form-control"/>
						</div>
					</div>
					<div class="col-md-12 pre-scrollable">
						<div *ngIf="registration.certificate.marks" class="list-group">
							<div *ngFor="let subjectMark of registration.certificate.marks" class="list-group-item">
								<div class="row">
									<div class="col-lg-10 col-md-10 col-xs-10">
										<h4>{{subjectMark.subject.title}}</h4>
									</div>
									<div class="col-lg-2 col-md-2 col-xs-2">
										<input [name]="'subject.' + subjectMark.subject.id" [(ngModel)]="subjectMark.mark" value={{subjectMark.mark}} type="text" class="form-control"/>
									</div>
								</div>
							</div>
						</div>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="form-group col-lg-12 col-md-12 col-xs-12">
        	<button type="submit" [disabled]="loading" class="btn btn-primary">{{'registrations.crud.register' | translate}}</button>
			<app-loading *ngIf="loading" [loading]="loading"></app-loading>
      	</div>
	</div>
</form>