<div *ngIf="registrationPeriods && registrationPeriods[0]" class="row">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<button data-target="#searchPanel" class="btn btn-primary" data-toggle="collapse">{{'registrations.list.filter.title' | translate}}</button>
		</div>
		<hr/>
		<div id="searchPanel" class="collapse col-lg-12 col-md-12 col-xs-12">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="col-lg-6 col-md-6 col-xs-12">
						<div class="form-group">
							<label>{{'registrations.list.filter.educational-institution' | translate}}</label>
							<select *ngIf="registrationPeriods" [disabled]="registrationPeriods.length === 1"
								[(ngModel)]="selectedPeriod" name="educationInstitution"
								#educationInstitution="ngModel" class="form-control"
								(change)="onPeriodChanged()"
								data-toggle="tooltip" title="{{selectedPeriod.educationInstitution.name}}">
								<option *ngFor="let period of registrationPeriods" [ngValue]="period">
									{{period.educationInstitution.shortName}}
								</option>
							</select>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-12">
						<div class="form-group">
							<label>{{'registrations.list.filter.specialty' | translate}}</label>
							<select (change)="onSpecialtyChanged()" required *ngIf="selectedPeriod.specialties" [(ngModel)]="selectedSpecialty" name="specialty"
								#speciality="ngModel" class="form-control">
								<option *ngFor="let spec of selectedPeriod.specialties" [ngValue]="spec">{{spec.specialty}}</option>
							</select>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-12">
						<div class="form-group">
							<label>{{'registrations.list.filter.registration-id' | translate}}</label>
							<input required [(ngModel)]="searchQuery.registrationId" name="registrationId" #registrationId="ngModel"
								value={{searchQuery.registrationId}} type="text" class="form-control"/>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-12">
						<div class="form-group">
							<label>{{'registrations.list.filter.enrollee-name' | translate}}</label>
							<input required [(ngModel)]="searchQuery.enrolleeName" name="name" #name="ngModel"
								value={{searchQuery.enrolleeName}} type="text" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div *ngIf="selectedSpecialty" class="col-lg-12 col-md-12 col-xs-12">
						<div class="form-group">
							<label>{{'registrations.funds-source.title' | translate}}</label>
							<div>
								<label *ngIf="!selectedSpecialty.separateByFundsSource" class="radio-inline">
									<input type="radio" value={{null}} name="fundsSource" [(ngModel)]="searchQuery.fundsSource">
									{{'registrations.funds-source.A' | translate}}
								</label>
								<label *ngFor="let source of selectedSpecialty.fundsSources" class="radio-inline">
									<input type="radio" value={{source}} name="fundsSource" [(ngModel)]="searchQuery.fundsSource">
									{{'registrations.funds-source.' + source | translate}}
								</label>
							</div>
						</div>
					</div>
					<div *ngIf="selectedSpecialty" class="col-lg-12 col-md-12 col-xs-12">
						<div class="form-group">
							<label>{{'registrations.education-form.title' | translate}}</label>
							<div>
								<label *ngIf="!selectedSpecialty.separateByEducationForm" class="radio-inline">
									<input type="radio" value={{null}} name="educationForm" [(ngModel)]="searchQuery.educationForm">
									{{'registrations.education-form.A' | translate}}
								</label>
								<label *ngFor="let form of selectedSpecialty.educationForms" class="radio-inline">
									<input type="radio" value={{form}} name="educationForm" [(ngModel)]="searchQuery.educationForm">
									{{'registrations.education-form.' + form | translate}}
								</label>
							</div>
						</div>
					</div>
					<div *ngIf="selectedSpecialty" class="col-lg-12 col-md-12 col-xs-12">
						<div class="form-group">
							<label>{{'registrations.education-base.title' | translate}}</label>
							<div>
								<label *ngIf="!selectedSpecialty.separateByEducationForm" class="radio-inline">
									<input type="radio" value={{null}} name="educationBase" [(ngModel)]="searchQuery.educationBase">
									{{'registrations.education-base.A' | translate}}
								</label>
								<label *ngFor="let base of selectedSpecialty.educationBases" class="radio-inline">
									<input type="radio" value={{base}} name="educationBase" [(ngModel)]="searchQuery.educationBase">
									{{'registrations.education-base.' + base | translate}}
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
		        <div class="col-lg-12 col-md-12 col-xs-12">
					<button (click)="doSearch()" class="btn btn-primary">{{'common.search' | translate}}</button>
					<button (click)="doReset()" class="btn btn-primary">{{'common.reset' | translate}}</button>
				</div>
			</div>
   		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<h3><span>{{selectedSpecialty.specialty}}</span>
				<span *ngIf="searchQuery.fundsSource">/ {{'registrations.funds-source.' + searchQuery.fundsSource | translate}}</span>			
				<span *ngIf="searchQuery.educationForm">/ {{'registrations.education-form.' + searchQuery.educationForm | translate}}</span>
				<span *ngIf="searchQuery.educationBase">/ {{'registrations.education-base.' + searchQuery.educationBase | translate}}</span>
			</h3>
		</div>
		<div class="col-lg-12 col-md-12 col-xs-12">
			<table class="table table-striped">
				<tr>
					<th>#</th>
					<th>{{'registrations.list.full-name' | translate}}</th>
					<th>{{'registrations.list.attestate-avg' | translate}}</th>
					<th>{{'registrations.funds-source.title' | translate}}</th>
					<th>{{'registrations.education-base.title' | translate}}</th>
					<th>{{'registrations.education-form.title' | translate}}</th>
					<th>{{'registrations.list.out-of-competitions' | translate}}</th>
					<th>{{'registrations.list.prerogatives' | translate}}</th>
					<th>{{'registrations.list.registered-by' | translate}}</th>
					<th>{{'registrations.list.registration-date' | translate}}</th>
					<th>{{'registrations.list.status' | translate}}</th>
					<th>{{'registrations.list.verified-by' | translate}}</th>
					<th>{{'registrations.list.verification-date' | translate}}</th>
					<th class="text-center">{{'registrations.list.contract' | translate}}</th>
				</tr>
				<tr *ngFor="let reg of registrationList">
					<td>{{reg.registrationId}}.</td>
					<td data-toggle="tooltip" title="{{reg.lastName}} {{reg.firstName}} {{reg.middleName}}">
						{{reg.lastName}} {{reg.firstName.charAt(0)}}.{{reg.middleName && reg.middleName.charAt(0) + '.'}}
					</td>
					<td>{{reg.attestateAvg && reg.attestateAvg|number:'.2'}}</td>
					<td>{{'registrations.funds-source.' + reg.fundsSource | translate}}</td>
					<td>{{'registrations.education-base.' + reg.educationBase | translate}}</td>
					<td>{{'registrations.education-form.' + reg.educationForm | translate}}</td>
					<td>
						<div *ngIf="reg.outOfCompetitions">
							<div *ngFor="let o of reg.outOfCompetitions">{{o}}</div>
						</div>
						<div *ngIf="!reg.outOfCompetitions">-</div>
					</td>
					<td>
						<div *ngIf="reg.prerogatives">
							<div *ngFor="let p of reg.prerogatives">{{p}}</div>
						</div>
						<div *ngIf="!reg.prerogatives">-</div>
					</td>
					<td>{{reg.registeredBy}}</td>
					<td>
						<div>{{reg.registrationDate | date: 'dd.MM.yyyy'}}</div>
						<div>{{reg.registrationDate | date: 'HH:mm:ss'}}</div>
					</td>
					<td>{{'registrations.status.'+ reg.status | translate}}</td>
					<td>{{reg.verifiedBy ? reg.verifiedBy : '-'}}</td>
					<td>
						<div *ngIf="reg.verificationDate">
							<div>{{reg.verificationDate | date: 'dd.MM.yyyy'}}</div>
							<div>{{reg.verificationDate | date: 'HH:mm:ss'}}</div>
						</div>
						<div *ngIf="!reg.verificationDate">
							-
						</div>
					</td>
					<td class="text-center" data-toggle="tooltip" title="{{'common.download' | translate}}">
						<button type="button" (click)="downloadReport(reg.id)" class="btn btn-default" aria-label="Left Align">
							<span class="glyphicon  glyphicon-save-file" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
